{% extends "layout.html" %}
  
{% block body %}
<form method="POST" action="{{ url_for('matches_create') }}">
  Home team<br/>
  <input type="text" name="hometeam" required/><br/>
  Away team<br/>
  <input type="text" name="awayteam" required/><br/>
  Home win probability (%)<br/>
  <input type="number" step="1" min="0" max="100" name="prob_home" required/><br/>
  Draw probability (%)<br/>
  <input type="number" step="1" min="0" max="100" name="prob_draw" required/><br/>
  Away win probability (%)<br/>
  <input type="number" step="1" min="0" max="100" name="prob_away" required/><br/>
  Date<br/>
  <input type="date" name="date" required/><br/>
  Time<br/>
  <input type="time" name="time" required/><br/>
  <br/>
  <input type="submit" value="Add a match"/>
</form>
{% endblock %}
