{% extends "layout.html" %}

{% block body %}
<table cellspacing="8">
  <tr align="left">
    <th>Home team</th>
    <th>Away team</th>
    <th>Home win probability</th>
    <th>Draw probability</th>
    <th>Away win probability</th>
    <th>Date and time</th>
    <th>Result</th>
  </tr>
  <tr align="left">
    <td>{{ match.home }}</td>
    <td>{{ match.away }}</td>
    <td>{{ match.prob_1 }}</td>
    <td>{{ match.prob_x }}</td>
    <td>{{ match.prob_2 }}</td>
    <td>{{ match.start_time }}</td>
    <td>{{ match.result_1x2 }}</td>
    <td>
      <form method="GET" action="{{ url_for('matches_update', match_id = match.id) }}">
        <input type="submit" value="Update match"/>
      </form>
    </td>
    <td>
      <form method="POST" action="{{ url_for('matches_delete', match_id = match.id) }}">
        <input type="submit" value="Delete match"/>
      </form>
    </td>
  </tr>
</table>
{% endblock %}
