<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Bet1X2</title>
    {% with messages = get_flashed_messages() %}
  		{% if messages %}
    		<ul class=flashes>
    		{% for message in messages %}
      		<li>{{ message }}</li>
    		{% endfor %}
    		</ul>
  		{% endif %}
		{% endwith %}
  </head>

  <body>
		{% if current_user.is_authenticated %}
      <p>
				Username {{ current_user.username }} is logged in. <a href="{{ url_for('auth_logout') }}">Log out</a>
      </p>
      {% else %}
      <a href="{{ url_for('auth_login') }}">Login</a>
      <br>
      <a href="{{ url_for('bettors_form') }}">Create an account</a>
      {% endif %}
      
    <ul>
	  	<li><a href="{{ url_for('matches_index') }}">List matches</a></li>
	  	<li><a href="{{ url_for('matches_form') }}">Add a match</a></li>
    </ul>
    
  	{% block body %}
    	<p>
      	Content.
    	</p>
  	{% endblock %}
  </body>
</html>
