{% extends "layout.html" %} 

{% block body %}
<table border="1" cellspacing="8">
  <tr align="left">
    <th>Combined odds</th>
    <th>Stake</th>
    <th>Bet status</th>
  </tr>
  {% for bet_coupon in user_coupons %}
  <tr align="left">
    <td>{{ bet_coupon.combined_odds }}</td>
    <td>
      {% if bet_coupon.stake_cent
      < 10 %} {% set money=b et_coupon.stake_eur ~ ".0" ~ bet_coupon.stake_cent %} {{ money }}
        {% else %} {% set money=b et_coupon.stake_eur ~ "." ~ bet_coupon.stake_cent %} {{ money }} {% endif %} </td>
        <td>{{ bet_coupon.bet_status }}</td>
        <td>
          <a href="{{ url_for('bet_coupons_show', bet_coupon_id = bet_coupon.id) }}">Show coupon</a>
        </td>
  </tr>
  {% endfor %}
</table>
{% endblock %}