{% extends "layout.html" %}

{% block body %}
<h1>Account deletion</h1>
<h2>{{ "Dear " + current_user.username + "," }}</h2>
<p>We are sad to see you go!</p>
<br>
<h2>Do you want to delete your account?</h2>
<h3>Yes</h3>
<p>If you choose this option, your money will be automatically transferred to your bank account</p>
<form method="POST" action="{{ url_for('bettor_delete_confirmation') }}">
  <input type="submit" value="Yes, delete my account" />
</form>
<br>
<h3>No</h3>
<form method="GET" action="{{ url_for('bettor_show') }}">
  <input type="submit" value="No, do not delete my account" />
</form>
{% endblock %}
