{% extends "layout.html" %}

{% block body %}
<form method="POST" action="{{ url_for('bettor_transfer_out') }}">
  <table>
    <tr align="left">
      <th>User name</th>
      <th>Balance Eur</th>
      <th>Balance Cent</th>
    </tr>
    <tr align="left">
      <td>{{ current_user.username }}</td>
      <td>{{ current_user.balance_eur }}</td>
      <td>{{ current_user.balance_cent }}</td>
    </tr>
    <tr>
      <td>
        {{ form.money_out.label }}
      </td>
      <td>
        {{ form.money_out }}
      </td>
      <td>
				<ul>
					{% for error in form.money_out.errors %}
					<li>{{ error }}</li>
					{% endfor %}
				</ul>
			</td>
    </tr>
    <tr>
      <td>
        {{ form.balance_eur(value = current_user.balance_eur) }}
      </td>
      <td>
        {{ form.balance_cent(value = current_user.balance_cent) }}
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <input type="submit" value="Withdraw money from your betting account"/>
        <input type="submit" value="Cancel" formaction="{{ url_for('bettor_cancel_update') }}" />
      </td>
    </tr>
</form>
{% endblock %}
