{% extends "layout.html" %}

{% block body %}
<table cellspacing="8">
  <tr align="left">
    <th>User name</th>
    {% if current_user.role != "ADMIN" %}
    <th>Balance/Eur</th>
    {% endif %}
  </tr>
  <tr align="left">
    <td>{{ current_user.username }}</td>
    {% if current_user.role != "ADMIN" %}
    <td>
      {% if current_user.balance_cent < 10 %}
        {{ current_user.balance_eur ~ ".0" ~ current_user.balance_cent }}
      {% else %}
        {{ current_user.balance_eur ~ "." ~ current_user.balance_cent }}
      {% endif %}
    </td>
    {% endif %}
  </tr>
  {% if current_user.role != "ADMIN" %}
  <tr>
    <td>
      <a href="{{ url_for('bettor_change_password') }}">Change password</a>
    </td>
  </tr>
  <tr>
    <td>
      <a href="{{ url_for('bettor_transfer_in') }}">Deposit money</a>
    </td>
  </tr>
  <tr>
    <td>
      <a href="{{ url_for('bettor_transfer_out') }}">Withdraw money</a>
    </td>
  </tr>
  <tr>
    <td>
      <a href="{{ url_for('bettor_delete') }}">Start account deletion process</a>
    </td>
  </tr>
  {% endif %}
</table>
{% endblock %}
