{% extends "layout.html" %}

{% block body %}
<form method="POST" action="{{ url_for('bettor_update', id = id) }}">
  <table>
		<tr>
			<td>
				{{ form.balance_eur.label }}
			</td>
			<td>
				{{ form.balance_eur }}
			</td>
			<td>
				<ul>
					{% for error in form.balance_eur.errors %}
					<li>{{ error }}</li>
					{% endfor %}
				</ul>
			</td>
		</tr>
		<tr>
			<td>
				{{ form.balance_cent.label }}
			</td>
			<td>
				{{ form.balance_cent }}
			</td>
			<td>
				<ul>
					{% for error in form.balance_cent.errors %}
					<li>{{ error }}</li>
					{% endfor %}
				</ul>
			</td>
		</tr>
		<tr>
			<td colspan="5">
				<input type="submit" value="Update details"/>
        <input type="submit" value="Cancel" formaction="{{ url_for('bettor_cancel_update', id=id) }}"/>
			</td>
  	</tr>
</form>
{% endblock %}
