{% extends "layout.html" %}

{% block body %}
<form method="POST" action="{{ url_for('betting_offers_create', match_id = match.id) }}">
	<table>
		<tr>
			<td>{{ match.home }} {{ "VS" }} {{ match.away }}</td>
		</tr>
		<tr>
			<td>{{ form.odds_1.label }}</td>
			<td>{{ form.odds_1 }}</td>
			<td>
				<ul>
					{% for error in form.odds_1.errors %}
					<li>{{ error }}</li>
					{% endfor %}
				</ul>
			</td>
		</tr>
		<tr>
			<td>{{ form.odds_x.label }}</td>
			<td>{{ form.odds_x }}</td>
			<td>
				<ul>
					{% for error in form.odds_x.errors %}
					<li>{{ error }}</li>
					{% endfor %}
				</ul>
			</td>
		</tr>
		<tr>
			<td>{{ form.odds_2.label }}</td>
			<td>{{ form.odds_2 }}</td>
			<td>
				<ul>
					{% for error in form.odds_2.errors %}
					<li>{{ error }}</li>
					{% endfor %}
				</ul>
			</td>
		</tr>
		<tr>
			<td>{{ form.max_stake.label }}</td>
			<td>{{ form.max_stake }}</td>
			<td>
				<ul>
					{% for error in form.max_stake.errors %}
					<li>{{ error }}</li>
					{% endfor %}
				</ul>
			</td>
		</tr>
		<tr>
			<td>{{ form.active.label }}</td>
			<td>{{ form.active }}</td>
			<td>
				<ul>
					{% for error in form.active.errors %}
					<li>{{ error }}</li>
					{% endfor %}
				</ul>
			</td>
		</tr>
		<tr>
			<td>{{ form.closed.label }}</td>
			<td>{{ form.closed }}</td>
			<td>
				<ul>
					{% for error in form.closed.errors %}
					<li>{{ error }}</li>
					{% endfor %}
				</ul>
			</td>
		</tr>
		<tr>
			<td colspan="5">
				<input type="submit" value="Add betting offer" />
			</td>
		</tr>
	</table>
</form>
{% endblock %}
